 <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <img src="static/images/about22.jpg" alt="" class="about__img">
                    <div class="about__data">
                        <span class="section-subtitle about__initial"></span>
                        <h2 class="section-title about__initial"> <br> REGISTER AS AN USER</h2>
                        <p class="about__description">Register today to be a part of the change .</p>
                        <a href="http://localhost:8080/signup" class="button">Register Now</a>
                    </div>

                   
                </div>
            </section>