 <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">REGISTER AS AN EXECUTIVE</span>
                        <h2 class="section-title about__initial"> <br> REGISTER AS AN EXECUTIVE</h2>
                        <p class="about__description">Register today to be a part of the change .We provide the best services in the entire city, Join our team of professional experts</p>
                        <a href="http://localhost:8080/aftersigninexecutive" class="button">Register Now</a>
                    </div>

                    <img src="static/images/about.jpg" alt="" class="about__img">
                </div>
            </section>