<footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">Hire Us</a>
                    <span class="footer__description">Hire Us is your one-stop destination for expert local services. Get dozens of trusted professionals near you to take care of all your home and beauty and other needs.</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Top Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Driver</a></li>
                        <li><a href="#" class="footer__link">Carpenter</a></li>
                        <li><a href="#" class="footer__link">Electrician</a></li>
                        <li><a href="#" class="footer__link">Barber</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Useful Links</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Gallery</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">About Us</a></li>
                        <li><a href="#" class="footer__link">Sign In/Register</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <br>
                    <br>
                    <img src="/static/images/logof.png" alt="logo">
                </div>
            </div>

            <p class="footer__copy">@HireUsFoundation2022&#169;</p>
        </footer>