<!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">HIRE OUR EXECUTIVES</h1>
                        <h2 class="home__subtitle">ANYTIME,ANYWHERE,ANYONE</h2>
                        <a href="#" class="button">Login/Signup</a>
                    </div>
    
                    <img src="/static/images/home.png" alt="" class="home__img">
                </div>
            </section>