  <!--========== MENU ==========-->
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle"></span>
                <h2 class="section-title">Testimonials</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content">
                        <img src="static/images/plate1.png" alt="" class="menu__img">
                        <h3 class="menu__name">Akanksha Rana</h3>
                        <span class="menu__detail">customer</span>
                        <span class="menu__preci">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero id, ratione velit voluptates veritatis debitis laudantium quam minima omnis earum corrupti, quas officiis dolore vel odio, aperiam reiciendis eos accusantium?</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>

                     <div class="menu__content">
                        <img src="static/images/plate1.png" alt="" class="menu__img">
                        <h3 class="menu__name">Akanksha Rana</h3>
                        <span class="menu__detail">customer</span>
                        <span class="menu__preci">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero id, ratione velit voluptates veritatis debitis laudantium quam minima omnis earum corrupti, quas officiis dolore vel odio, aperiam reiciendis eos accusantium?</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                    
                      <div class="menu__content">
                        <img src="static/images/plate1.png" alt="" class="menu__img">
                        <h3 class="menu__name">Akanksha Rana</h3>
                        <span class="menu__detail">customer</span>
                        <span class="menu__preci">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero id, ratione velit voluptates veritatis debitis laudantium quam minima omnis earum corrupti, quas officiis dolore vel odio, aperiam reiciendis eos accusantium?</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>
                </div>
            </section>
