<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/gallery.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  
  <title>Document</title>
</head>
<body>
  {{>navbar}}
  <div class="grid">
          <div class="item1">
            <img
              class="grid-image"
              src="/static/images/2.jpg"
              alt="image 1"
            />
          </div>
          <div class="item2">
            <img
              class="grid-image"
              src="/static/images/1.jpg"
              alt="image 2"
            />
          </div>
          <div class="item3">
            <img
              class="grid-image"
              src="/static/images/about.jpg"
              alt="image 3"
            />
          </div>
          <div class="item4">
            <img
              class="grid-image"
              src="/static/images/1.jpg"
              alt="image 4"
            />
          </div>
          <div class="item5">
            <img
              class="grid-image"
              src="/static/images/1.jpg"
              alt="image 5"
            />
          </div>
          <div class="item6">
            <img
              class="grid-image"
              src="/static/images/1.jpg"
              alt="image 6"
            />
          </div>
          <div class="item7">
            <img
              class="grid-image"
              src="/static/images/3.jpg"
              alt="image 7"
            />
          </div>
        </div>
      </div>
    </div>
    {{>contact}}
    {{>footer}}
</body>
</html>