@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
}

ul {
    list-style: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_content h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.hero_content h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero_image img {
    border-radius: 10rem;
    height: 75px;
}

form {
    display: block;
    margin: 30px;
    overflow: hidden;
    background: #ebebeb;
    border: 1px solid #2f9637;
    border-radius: 5px;
    font-size: 0;
}

@media(min-width:800px) {
    form>div {
        display: inline-block;
    }
    form>div.col-submit {
        display: block;
    }
}

form>div>label {
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(59, 58, 58);
    cursor: pointer;
}

form>div.col-2,
form>div.col-3,
form>div.col-4 {
    border-bottom: 1px solid #E4E4E4;
}

@media(min-width: 800px) {
    form>div.col-2,
    form>div.col-3,
    form>div.col-4 {
        box-shadow: 1px 1px #E4E4E4;
        border: none;
    }
}

@media(min-width:800px) {
    form>div.col-2 {
        width: 50%
    }
    form>div.col-3 {
        width: 33.3333333333%
    }
    form>div.col-4 {
        width: 25%
    }
}

form>div>label>input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: transparent;
    font-size: 14px;
    font-weight: 200;
    opacity: .66;
    transition: opacity .3s, box-shadow .3s;
}

form>div.col-submit {
    text-align: center;
    padding: 20px;
}

form>div.col-submit button {
    border: 1px solid #2f9637;
    background: #2f9637;
    font-size: 14px;
    color: #fff;
    padding: 1em;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

@media(min-width: 800px) {
    form>div.col-submit button {
        width: 30%;
        margin: 0 auto;
    }
}

form>div.col-submit button:hover {
    background: #92BDBD;
}

form>div>label>select {
    display: block;
    width: 100%;
    margin: 16px 0 6px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 200;
    opacity: .33;
}

form>div>label>input:focus,
form>div>label>select:focus {
    opacity: 1;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #2f9637;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #2f9637;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f
}

p.service_text {
    color: #cccccc !important;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-head p,
p.awesome_line {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.extra-text {
    font-size: 34px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
}

.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #2f9637;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.extra-text span {
    font-weight: 700;
    color: #2f9637;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover {
    background: #2f9637;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    color: #fff;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #2f9637;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.20);
    color: #2f9637
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #2f9637
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #2f9637
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #2f9637
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #2f9637
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #2f9637
}

.item p {
    font-size: 15px;
    line-height: 26px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}

.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}

.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2f9637;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}

.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}

.skills {
    padding-top: 0px;
}

.skills .prog-item {
    margin-bottom: 25px;
}

.skills .prog-item:last-child {
    margin-bottom: 0;
}

.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 20px;
    position: relative;
}

.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #2f9637;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}