.grid-image {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I1 I2 I3" "I1 I1 I2 I7" "I4 I5 I6 I7";
}

.item1 {
    grid-area: I1;
}

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;
}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}